<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>public.kern1.D</key>
	<array>
		<string>D</string>
		<string>Eth</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>OE</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>G</string>
	</array>
	<key>public.kern1.I</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>J</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>public.kern1.W</key>
	<array>
		<string>W</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
	</array>
	<key>public.kern1.Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>public.kern1.a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>public.kern1.b</key>
	<array>
		<string>b</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>public.kern1.bethebrew</key>
	<array>
		<string>bet-hb</string>
		<string>betdagesh-hb</string>
	</array>
	<key>public.kern1.c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
	</array>
	<key>public.kern1.colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern1.d</key>
	<array>
		<string>d</string>
	</array>
	<key>public.kern1.dalethebrew</key>
	<array>
		<string>dalet-hb</string>
		<string>daletdagesh-hb</string>
		<string>finalkaf-hb</string>
		<string>finalkafdagesh-hb</string>
	</array>
	<key>public.kern1.e</key>
	<array>
		<string>ae</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>oe</string>
	</array>
	<key>public.kern1.f</key>
	<array>
		<string>f</string>
	</array>
	<key>public.kern1.gimelhebrew</key>
	<array>
		<string>gimel-hb</string>
		<string>gimeldagesh-hb</string>
	</array>
	<key>public.kern1.guilsinglleft</key>
	<array>
		<string>guillemetleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern1.guilsinglright</key>
	<array>
		<string>guillemetright</string>
		<string>guilsinglright</string>
	</array>
	<key>public.kern1.hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>public.kern1.i</key>
	<array>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>j</string>
	</array>
	<key>public.kern1.k</key>
	<array>
		<string>k</string>
	</array>
	<key>public.kern1.kafhebrew</key>
	<array>
		<string>kaf-hb</string>
		<string>kafdagesh-hb</string>
	</array>
	<key>public.kern1.l</key>
	<array>
		<string>l</string>
	</array>
	<key>public.kern1.lamedhebrew</key>
	<array>
		<string>lamed-hb</string>
		<string>lameddagesh-hb</string>
	</array>
	<key>public.kern1.memhebrew</key>
	<array>
		<string>mem-hb</string>
		<string>memdagesh-hb</string>
	</array>
	<key>public.kern1.n</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>public.kern1.nunhebrew</key>
	<array>
		<string>nun-hb</string>
		<string>nundagesh-hb</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
	</array>
	<key>public.kern1.pehebrew</key>
	<array>
		<string>pe-hb</string>
	</array>
	<key>public.kern1.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern1.quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>public.kern1.quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>public.kern1.quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>s</string>
	</array>
	<key>public.kern1.shinhebrew</key>
	<array>
		<string>shin-hb</string>
		<string>shinshindot-hb</string>
		<string>shinsindot-hb</string>
		<string>shindageshshindot-hb</string>
		<string>shindageshsindot-hb</string>
		<string>shindagesh-hb</string>
	</array>
	<key>public.kern1.slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>t</string>
	</array>
	<key>public.kern1.tavhebrew</key>
	<array>
		<string>tav-hb</string>
		<string>tavdagesh-hb</string>
	</array>
	<key>public.kern1.tethebrew</key>
	<array>
		<string>tet-hb</string>
		<string>tetdagesh-hb</string>
		<string>samekh-hb</string>
		<string>samekhdagesh-hb</string>
	</array>
	<key>public.kern1.tsadihebrew</key>
	<array>
		<string>tsadi-hb</string>
		<string>tsadidagesh-hb</string>
	</array>
	<key>public.kern1.u</key>
	<array>
		<string>g</string>
		<string>q</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>public.kern1.vavhebrew</key>
	<array>
		<string>he-hb</string>
		<string>hedagesh-hb</string>
		<string>vav-hb</string>
		<string>het-hb</string>
		<string>finalmem-hb</string>
		<string>finalnun-hb</string>
		<string>qof-hb</string>
		<string>qofdagesh-hb</string>
	</array>
	<key>public.kern1.w</key>
	<array>
		<string>w</string>
	</array>
	<key>public.kern1.y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>public.kern1.yodhebrew</key>
	<array>
		<string>yod-hb</string>
		<string>yoddagesh-hb</string>
	</array>
	<key>public.kern1.z</key>
	<array>
		<string>z</string>
	</array>
	<key>public.kern1.zayinhebrew</key>
	<array>
		<string>zayin-hb</string>
		<string>zayindagesh-hb</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>public.kern2.AE</key>
	<array>
		<string>AE</string>
	</array>
	<key>public.kern2.I</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>G</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>public.kern2.W</key>
	<array>
		<string>W</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
	</array>
	<key>public.kern2.bethebrew</key>
	<array>
		<string>bet-hb</string>
		<string>betdagesh-hb</string>
	</array>
	<key>public.kern2.colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern2.d</key>
	<array>
		<string>d</string>
		<string>q</string>
	</array>
	<key>public.kern2.dalethebrew</key>
	<array>
		<string>dalet-hb</string>
		<string>daletdagesh-hb</string>
		<string>finalkaf-hb</string>
		<string>finalkafdagesh-hb</string>
	</array>
	<key>public.kern2.f</key>
	<array>
		<string>f</string>
	</array>
	<key>public.kern2.g</key>
	<array>
		<string>g</string>
	</array>
	<key>public.kern2.gimelhebrew</key>
	<array>
		<string>gimel-hb</string>
		<string>gimeldagesh-hb</string>
	</array>
	<key>public.kern2.guilsinglleft</key>
	<array>
		<string>guillemetleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern2.guilsinglright</key>
	<array>
		<string>guillemetright</string>
		<string>guilsinglright</string>
	</array>
	<key>public.kern2.h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>thorn</string>
		<string>germandbls</string>
	</array>
	<key>public.kern2.hethebrew</key>
	<array>
		<string>he-hb</string>
		<string>hedagesh-hb</string>
		<string>het-hb</string>
		<string>finalmem-hb</string>
		<string>mem-hb</string>
		<string>memdagesh-hb</string>
		<string>nun-hb</string>
		<string>nundagesh-hb</string>
		<string>finalpe-hb</string>
		<string>resh-hb</string>
		<string>tav-hb</string>
		<string>tavdagesh-hb</string>
	</array>
	<key>public.kern2.hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>public.kern2.i</key>
	<array>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>public.kern2.kafhebrew</key>
	<array>
		<string>kaf-hb</string>
		<string>kafdagesh-hb</string>
	</array>
	<key>public.kern2.l</key>
	<array>
		<string>l</string>
	</array>
	<key>public.kern2.lamedhebrew</key>
	<array>
		<string>lamed-hb</string>
		<string>lameddagesh-hb</string>
		<string>qof-hb</string>
		<string>qofdagesh-hb</string>
		<string>shin-hb</string>
		<string>shinshindot-hb</string>
		<string>shinsindot-hb</string>
		<string>shindageshshindot-hb</string>
		<string>shindageshsindot-hb</string>
		<string>shindagesh-hb</string>
	</array>
	<key>public.kern2.n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>p</string>
		<string>r</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
	</array>
	<key>public.kern2.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern2.quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>public.kern2.quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>public.kern2.quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>s</string>
	</array>
	<key>public.kern2.slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>public.kern2.t</key>
	<array>
		<string>t</string>
	</array>
	<key>public.kern2.tethebrew</key>
	<array>
		<string>tet-hb</string>
		<string>tetdagesh-hb</string>
		<string>samekh-hb</string>
		<string>samekhdagesh-hb</string>
		<string>pe-hb</string>
	</array>
	<key>public.kern2.tsadihebrew</key>
	<array>
		<string>tsadi-hb</string>
		<string>tsadidagesh-hb</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>public.kern2.vavhebrew</key>
	<array>
		<string>vav-hb</string>
		<string>vavdagesh-hb</string>
		<string>finalnun-hb</string>
	</array>
	<key>public.kern2.w</key>
	<array>
		<string>w</string>
	</array>
	<key>public.kern2.y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>public.kern2.yodhebrew</key>
	<array>
		<string>yod-hb</string>
		<string>yoddagesh-hb</string>
	</array>
	<key>public.kern2.z</key>
	<array>
		<string>z</string>
	</array>
	<key>public.kern2.zayinhebrew</key>
	<array>
		<string>zayin-hb</string>
		<string>zayindagesh-hb</string>
	</array>
</dict>
</plist>
