<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>space</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>grave</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>sterling</string>
      <string>guillemotleft</string>
      <string>uni00AD</string>
      <string>guillemotright</string>
      <string>uni05BE</string>
      <string>uni05BF</string>
      <string>uni05D0</string>
      <string>uni05D1</string>
      <string>uni05D2</string>
      <string>uni05D3</string>
      <string>uni05D4</string>
      <string>uni05D5</string>
      <string>uni05D6</string>
      <string>uni05D7</string>
      <string>uni05D8</string>
      <string>uni05D9</string>
      <string>uni05DA</string>
      <string>uni05DB</string>
      <string>uni05DC</string>
      <string>uni05DD</string>
      <string>uni05DE</string>
      <string>uni05DF</string>
      <string>uni05E0</string>
      <string>uni05E1</string>
      <string>uni05E2</string>
      <string>uni05E3</string>
      <string>uni05E4</string>
      <string>uni05E5</string>
      <string>uni05E6</string>
      <string>uni05E7</string>
      <string>uni05E8</string>
      <string>uni05E9</string>
      <string>uni05EA</string>
      <string>uni05F3</string>
      <string>uni05F4</string>
      <string>quoteright</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quotedblbase</string>
      <string>uniFB1E</string>
      <string>uniFB4F</string>
      <string>uni05D2_uni05D5</string>
      <string>uni05E8.alt</string>
      <string>uni05D0.alt</string>
      <string>uni05D5.alt</string>
      <string>uni05D3.alt</string>
      <string>uni05D1.alt</string>
      <string>uni05D3_uni05D9</string>
      <string>uni05D3_uni05D9_uni05D9</string>
      <string>uni05D3_uni05D9_uni05D9_uni05D5</string>
      <string>uni05D9.alt</string>
      <string>uni05D0.yud</string>
      <string>uni05D8.yud</string>
      <string>uni05E1.yud</string>
      <string>uni05D0.alt.yud</string>
      <string>uni05E1.alt</string>
      <string>uni05D4.alt</string>
      <string>uni05E6.alt</string>
      <string>uni05E1_quotesingle</string>
      <string>uni05D1_quotesingle</string>
      <string>uni05D2_quotesingle</string>
      <string>uni05D3_quotesingle</string>
      <string>uni05D4_quotesingle</string>
      <string>uni05D6_quotesingle</string>
      <string>uni05DF_quotesingle</string>
      <string>uni05E4_quotesingle</string>
      <string>uni05E9_quotesingle</string>
      <string>uni05D2_quotesingle_uni05D5</string>
      <string>uni05D2_uni05D9</string>
      <string>uni05D2_quotesingle_uni05D9</string>
      <string>uni05E8_uni05D1_quotesingle</string>
      <string>uni05E8_uni05D9</string>
      <string>uni05D3_quotesingle_uni05D9</string>
      <string>u05D3_quotesingle_u05D9_u05D9</string>
      <string>uni05D3.alt_quotesingle</string>
      <string>uni05D1_quoteright</string>
      <string>uni05E1_quoteright</string>
      <string>uni05D2_quoteright</string>
      <string>uni05D3_quoteright</string>
      <string>uni05D4_quoteright</string>
      <string>uni05D6_quoteright</string>
      <string>uni05DF_quoteright</string>
      <string>uni05E4_quoteright</string>
      <string>uni05E9_quoteright</string>
      <string>uni05D2_quoteright_uni05D5</string>
      <string>uni05D2_quoteright_uni05D9</string>
      <string>uni05E8_uni05D1_quoteright</string>
      <string>uni05D3_quoteright_uni05D9</string>
      <string>u05D3_quoteright_u05D9_u05D9</string>
      <string>uni05D3.alt_quoteright</string>
      <string>uni05D1_uni05F3</string>
      <string>uni05E1_uni05F3</string>
      <string>uni05D2_uni05F3</string>
      <string>uni05D3_uni05F3</string>
      <string>uni05D4_uni05F3</string>
      <string>uni05D6_uni05F3</string>
      <string>uni05DF_uni05F3</string>
      <string>uni05E4_uni05F3</string>
      <string>uni05E9_uni05F3</string>
      <string>uni05D2_uni05F3_uni05D5</string>
      <string>uni05D2_uni05F3_uni05D9</string>
      <string>uni05E8_uni05D1_uni05F3</string>
      <string>uni05D3_uni05F3_uni05D9</string>
      <string>uni05D3_uni05F3_uni05D9_uni05D9</string>
      <string>uni05D3.alt_uni05F3</string>
      <string>quotedbl_quotedbl</string>
      <string>quotedblleft_quotedblleft</string>
      <string>quotedblright_quotedblright</string>
      <string>quotedbl_quotedbl_quotedbl</string>
      <string>qudblleft_qudblleft_qudblleft</string>
      <string>qudblrit_qudblrit_qudblrit</string>
      <string>less_less</string>
      <string>greater_greater</string>
      <string>quotedbl_quotedblright</string>
      <string>quotedbl_qudblrt_qudblrt</string>
      <string>nameme.300</string>
      <string>uni05D2.alt</string>
      <string>uni05D2.alt_quotesingle</string>
      <string>uni05D2.alt_quoteright</string>
      <string>uni05D2.alt_uni05F3</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>ampersand</key>
      <string>base</string>
      <key>asciicircum</key>
      <string>base</string>
      <key>asciitilde</key>
      <string>base</string>
      <key>asterisk</key>
      <string>base</string>
      <key>at</key>
      <string>base</string>
      <key>backslash</key>
      <string>base</string>
      <key>bar</key>
      <string>base</string>
      <key>braceleft</key>
      <string>base</string>
      <key>braceright</key>
      <string>base</string>
      <key>bracketleft</key>
      <string>base</string>
      <key>bracketright</key>
      <string>base</string>
      <key>colon</key>
      <string>base</string>
      <key>comma</key>
      <string>base</string>
      <key>dollar</key>
      <string>base</string>
      <key>eight</key>
      <string>base</string>
      <key>equal</key>
      <string>base</string>
      <key>exclam</key>
      <string>base</string>
      <key>five</key>
      <string>base</string>
      <key>four</key>
      <string>base</string>
      <key>grave</key>
      <string>base</string>
      <key>greater</key>
      <string>base</string>
      <key>greater_greater</key>
      <string>ligature</string>
      <key>guillemotleft</key>
      <string>base</string>
      <key>guillemotright</key>
      <string>base</string>
      <key>hyphen</key>
      <string>base</string>
      <key>less</key>
      <string>base</string>
      <key>less_less</key>
      <string>ligature</string>
      <key>nameme.300</key>
      <string>base</string>
      <key>nine</key>
      <string>base</string>
      <key>numbersign</key>
      <string>base</string>
      <key>one</key>
      <string>base</string>
      <key>parenleft</key>
      <string>base</string>
      <key>parenright</key>
      <string>base</string>
      <key>percent</key>
      <string>base</string>
      <key>period</key>
      <string>base</string>
      <key>plus</key>
      <string>base</string>
      <key>qudblleft_qudblleft_qudblleft</key>
      <string>ligature</string>
      <key>qudblrit_qudblrit_qudblrit</key>
      <string>ligature</string>
      <key>question</key>
      <string>base</string>
      <key>quotedbl</key>
      <string>base</string>
      <key>quotedbl_qudblrt_qudblrt</key>
      <string>ligature</string>
      <key>quotedbl_quotedbl</key>
      <string>ligature</string>
      <key>quotedbl_quotedbl_quotedbl</key>
      <string>ligature</string>
      <key>quotedbl_quotedblright</key>
      <string>ligature</string>
      <key>quotedblbase</key>
      <string>ligature</string>
      <key>quotedblleft</key>
      <string>base</string>
      <key>quotedblleft_quotedblleft</key>
      <string>ligature</string>
      <key>quotedblright</key>
      <string>base</string>
      <key>quotedblright_quotedblright</key>
      <string>ligature</string>
      <key>quoteright</key>
      <string>base</string>
      <key>quotesingle</key>
      <string>base</string>
      <key>semicolon</key>
      <string>base</string>
      <key>seven</key>
      <string>base</string>
      <key>six</key>
      <string>base</string>
      <key>slash</key>
      <string>base</string>
      <key>space</key>
      <string>base</string>
      <key>sterling</key>
      <string>base</string>
      <key>three</key>
      <string>base</string>
      <key>two</key>
      <string>base</string>
      <key>u05D3_quoteright_u05D9_u05D9</key>
      <string>ligature</string>
      <key>u05D3_quotesingle_u05D9_u05D9</key>
      <string>ligature</string>
      <key>underscore</key>
      <string>base</string>
      <key>uni00AD</key>
      <string>base</string>
      <key>uni05BE</key>
      <string>base</string>
      <key>uni05BF</key>
      <string>base</string>
      <key>uni05D0</key>
      <string>base</string>
      <key>uni05D0.alt</key>
      <string>base</string>
      <key>uni05D0.alt.yud</key>
      <string>base</string>
      <key>uni05D0.yud</key>
      <string>base</string>
      <key>uni05D1</key>
      <string>base</string>
      <key>uni05D1.alt</key>
      <string>base</string>
      <key>uni05D1_quoteright</key>
      <string>ligature</string>
      <key>uni05D1_quotesingle</key>
      <string>ligature</string>
      <key>uni05D1_uni05F3</key>
      <string>ligature</string>
      <key>uni05D2</key>
      <string>base</string>
      <key>uni05D2.alt</key>
      <string>base</string>
      <key>uni05D2.alt_quoteright</key>
      <string>ligature</string>
      <key>uni05D2.alt_quotesingle</key>
      <string>ligature</string>
      <key>uni05D2.alt_uni05F3</key>
      <string>ligature</string>
      <key>uni05D2_quoteright</key>
      <string>ligature</string>
      <key>uni05D2_quoteright_uni05D5</key>
      <string>ligature</string>
      <key>uni05D2_quoteright_uni05D9</key>
      <string>ligature</string>
      <key>uni05D2_quotesingle</key>
      <string>ligature</string>
      <key>uni05D2_quotesingle_uni05D5</key>
      <string>ligature</string>
      <key>uni05D2_quotesingle_uni05D9</key>
      <string>ligature</string>
      <key>uni05D2_uni05D5</key>
      <string>ligature</string>
      <key>uni05D2_uni05D9</key>
      <string>ligature</string>
      <key>uni05D2_uni05F3</key>
      <string>ligature</string>
      <key>uni05D2_uni05F3_uni05D5</key>
      <string>ligature</string>
      <key>uni05D2_uni05F3_uni05D9</key>
      <string>ligature</string>
      <key>uni05D3</key>
      <string>base</string>
      <key>uni05D3.alt</key>
      <string>base</string>
      <key>uni05D3.alt_quoteright</key>
      <string>ligature</string>
      <key>uni05D3.alt_quotesingle</key>
      <string>ligature</string>
      <key>uni05D3.alt_uni05F3</key>
      <string>ligature</string>
      <key>uni05D3_quoteright</key>
      <string>ligature</string>
      <key>uni05D3_quoteright_uni05D9</key>
      <string>ligature</string>
      <key>uni05D3_quotesingle</key>
      <string>ligature</string>
      <key>uni05D3_quotesingle_uni05D9</key>
      <string>ligature</string>
      <key>uni05D3_uni05D9</key>
      <string>ligature</string>
      <key>uni05D3_uni05D9_uni05D9</key>
      <string>ligature</string>
      <key>uni05D3_uni05D9_uni05D9_uni05D5</key>
      <string>ligature</string>
      <key>uni05D3_uni05F3</key>
      <string>ligature</string>
      <key>uni05D3_uni05F3_uni05D9</key>
      <string>ligature</string>
      <key>uni05D3_uni05F3_uni05D9_uni05D9</key>
      <string>ligature</string>
      <key>uni05D4</key>
      <string>base</string>
      <key>uni05D4.alt</key>
      <string>base</string>
      <key>uni05D4_quoteright</key>
      <string>ligature</string>
      <key>uni05D4_quotesingle</key>
      <string>ligature</string>
      <key>uni05D4_uni05F3</key>
      <string>ligature</string>
      <key>uni05D5</key>
      <string>base</string>
      <key>uni05D5.alt</key>
      <string>base</string>
      <key>uni05D6</key>
      <string>base</string>
      <key>uni05D6_quoteright</key>
      <string>ligature</string>
      <key>uni05D6_quotesingle</key>
      <string>ligature</string>
      <key>uni05D6_uni05F3</key>
      <string>ligature</string>
      <key>uni05D7</key>
      <string>base</string>
      <key>uni05D8</key>
      <string>base</string>
      <key>uni05D8.yud</key>
      <string>base</string>
      <key>uni05D9</key>
      <string>base</string>
      <key>uni05D9.alt</key>
      <string>base</string>
      <key>uni05DA</key>
      <string>base</string>
      <key>uni05DB</key>
      <string>base</string>
      <key>uni05DC</key>
      <string>base</string>
      <key>uni05DD</key>
      <string>base</string>
      <key>uni05DE</key>
      <string>base</string>
      <key>uni05DF</key>
      <string>base</string>
      <key>uni05DF_quoteright</key>
      <string>ligature</string>
      <key>uni05DF_quotesingle</key>
      <string>ligature</string>
      <key>uni05DF_uni05F3</key>
      <string>ligature</string>
      <key>uni05E0</key>
      <string>base</string>
      <key>uni05E1</key>
      <string>base</string>
      <key>uni05E1.alt</key>
      <string>base</string>
      <key>uni05E1.yud</key>
      <string>base</string>
      <key>uni05E1_quoteright</key>
      <string>ligature</string>
      <key>uni05E1_quotesingle</key>
      <string>ligature</string>
      <key>uni05E1_uni05F3</key>
      <string>ligature</string>
      <key>uni05E2</key>
      <string>base</string>
      <key>uni05E3</key>
      <string>base</string>
      <key>uni05E4</key>
      <string>base</string>
      <key>uni05E4_quoteright</key>
      <string>ligature</string>
      <key>uni05E4_quotesingle</key>
      <string>ligature</string>
      <key>uni05E4_uni05F3</key>
      <string>ligature</string>
      <key>uni05E5</key>
      <string>base</string>
      <key>uni05E6</key>
      <string>base</string>
      <key>uni05E6.alt</key>
      <string>base</string>
      <key>uni05E7</key>
      <string>base</string>
      <key>uni05E8</key>
      <string>base</string>
      <key>uni05E8.alt</key>
      <string>base</string>
      <key>uni05E8_uni05D1_quoteright</key>
      <string>ligature</string>
      <key>uni05E8_uni05D1_quotesingle</key>
      <string>ligature</string>
      <key>uni05E8_uni05D1_uni05F3</key>
      <string>ligature</string>
      <key>uni05E8_uni05D9</key>
      <string>ligature</string>
      <key>uni05E9</key>
      <string>base</string>
      <key>uni05E9_quoteright</key>
      <string>ligature</string>
      <key>uni05E9_quotesingle</key>
      <string>ligature</string>
      <key>uni05E9_uni05F3</key>
      <string>ligature</string>
      <key>uni05EA</key>
      <string>base</string>
      <key>uni05F3</key>
      <string>base</string>
      <key>uni05F4</key>
      <string>base</string>
      <key>uniFB1E</key>
      <string>base</string>
      <key>uniFB4F</key>
      <string>ligature</string>
      <key>zero</key>
      <string>base</string>
    </dict>
  </dict>
</plist>
