<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>acutecomb.case</key>
	<string>acutecomb.case.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>alef-hb</key>
	<string>alef-hb.glif</string>
	<key>alefdagesh-hb</key>
	<string>alefdagesh-hb.glif</string>
	<key>alefpatah-hb</key>
	<string>alefpatah-hb.glif</string>
	<key>alefqamats-hb</key>
	<string>alefqamats-hb.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>apostrophemod</key>
	<string>apostrophemod.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>ayin-hb</key>
	<string>ayin-hb.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bet-hb</key>
	<string>bet-hb.glif</string>
	<key>betdagesh-hb</key>
	<string>betdagesh-hb.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brevecomb</key>
	<string>brevecomb.glif</string>
	<key>brevecomb-cy</key>
	<string>brevecomb-cy.glif</string>
	<key>brevecomb-cy.case</key>
	<string>brevecomb-cy.case.glif</string>
	<key>brevecomb.case</key>
	<string>brevecomb.case.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caroncomb</key>
	<string>caroncomb.glif</string>
	<key>caroncomb.alt</key>
	<string>caroncomb.alt.glif</string>
	<key>caroncomb.case</key>
	<string>caroncomb.case.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedillacomb</key>
	<string>cedillacomb.glif</string>
	<key>cedillacomb.case</key>
	<string>cedillacomb.case.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflexcomb</key>
	<string>circumflexcomb.glif</string>
	<key>circumflexcomb.case</key>
	<string>circumflexcomb.case.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccentcomb</key>
	<string>commaaccentcomb.glif</string>
	<key>commaaccentcomb.case</key>
	<string>commaaccentcomb.case.glif</string>
	<key>commaturnedabovecomb</key>
	<string>commaturnedabovecomb.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagesh-hb</key>
	<string>dagesh-hb.glif</string>
	<key>dalet-hb</key>
	<string>dalet-hb.glif</string>
	<key>daletdagesh-hb</key>
	<string>daletdagesh-hb.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>descender-cy</key>
	<string>descender-cy.glif</string>
	<key>descender-cy.case</key>
	<string>descender-cy.case.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresiscomb</key>
	<string>dieresiscomb.glif</string>
	<key>dieresiscomb.case</key>
	<string>dieresiscomb.case.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>divisionslash</key>
	<string>divisionslash.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccentcomb</key>
	<string>dotaccentcomb.glif</string>
	<key>dotaccentcomb.case</key>
	<string>dotaccentcomb.case.glif</string>
	<key>doublePrime</key>
	<string>doubleP_rime.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.dnom</key>
	<string>eight.dnom.glif</string>
	<key>eight.numr</key>
	<string>eight.numr.glif</string>
	<key>eightinferior</key>
	<string>eightinferior.glif</string>
	<key>eightsuperior</key>
	<string>eightsuperior.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>enspace</key>
	<string>enspace.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>euro</key>
	<string>euro.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fbfix</key>
	<string>fbfix.glif</string>
	<key>finalkaf-hb</key>
	<string>finalkaf-hb.glif</string>
	<key>finalkafdagesh-hb</key>
	<string>finalkafdagesh-hb.glif</string>
	<key>finalmem-hb</key>
	<string>finalmem-hb.glif</string>
	<key>finalnun-hb</key>
	<string>finalnun-hb.glif</string>
	<key>finalpe-hb</key>
	<string>finalpe-hb.glif</string>
	<key>finalpedagesh-hb</key>
	<string>finalpedagesh-hb.glif</string>
	<key>finaltsadi-hb</key>
	<string>finaltsadi-hb.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.dnom</key>
	<string>five.dnom.glif</string>
	<key>five.numr</key>
	<string>five.numr.glif</string>
	<key>fiveinferior</key>
	<string>fiveinferior.glif</string>
	<key>fivesuperior</key>
	<string>fivesuperior.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.dnom</key>
	<string>four.dnom.glif</string>
	<key>four.numr</key>
	<string>four.numr.glif</string>
	<key>fourinferior</key>
	<string>fourinferior.glif</string>
	<key>foursuperior</key>
	<string>foursuperior.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>geresh-hb</key>
	<string>geresh-hb.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>gershayim-hb</key>
	<string>gershayim-hb.glif</string>
	<key>gimel-hb</key>
	<string>gimel-hb.glif</string>
	<key>gimeldagesh-hb</key>
	<string>gimeldagesh-hb.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>gravecomb.case</key>
	<string>gravecomb.case.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greater_greater</key>
	<string>greater_greater.glif</string>
	<key>guillemetleft</key>
	<string>guillemetleft.glif</string>
	<key>guillemetright</key>
	<string>guillemetright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hatafpatah-hb</key>
	<string>hatafpatah-hb.glif</string>
	<key>hatafqamats-hb</key>
	<string>hatafqamats-hb.glif</string>
	<key>hatafsegol-hb</key>
	<string>hatafsegol-hb.glif</string>
	<key>he-hb</key>
	<string>he-hb.glif</string>
	<key>hedagesh-hb</key>
	<string>hedagesh-hb.glif</string>
	<key>het-hb</key>
	<string>het-hb.glif</string>
	<key>hiriq-hb</key>
	<string>hiriq-hb.glif</string>
	<key>holam-hb</key>
	<string>holam-hb.glif</string>
	<key>holamhaser-hb</key>
	<string>holamhaser-hb.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlautcomb</key>
	<string>hungarumlautcomb.glif</string>
	<key>hungarumlautcomb.case</key>
	<string>hungarumlautcomb.case.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>idotless</key>
	<string>idotless.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kaf-hb</key>
	<string>kaf-hb.glif</string>
	<key>kafdagesh-hb</key>
	<string>kafdagesh-hb.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lamed-hb</key>
	<string>lamed-hb.glif</string>
	<key>lameddagesh-hb</key>
	<string>lameddagesh-hb.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>less_less</key>
	<string>less_less.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macroncomb</key>
	<string>macroncomb.glif</string>
	<key>macroncomb.case</key>
	<string>macroncomb.case.glif</string>
	<key>maqaf-hb</key>
	<string>maqaf-hb.glif</string>
	<key>mem-hb</key>
	<string>mem-hb.glif</string>
	<key>memdagesh-hb</key>
	<string>memdagesh-hb.glif</string>
	<key>micro</key>
	<string>micro.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nameme.300</key>
	<string>nameme.300.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.dnom</key>
	<string>nine.dnom.glif</string>
	<key>nine.numr</key>
	<string>nine.numr.glif</string>
	<key>nineinferior</key>
	<string>nineinferior.glif</string>
	<key>ninesuperior</key>
	<string>ninesuperior.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>nun-hb</key>
	<string>nun-hb.glif</string>
	<key>nundagesh-hb</key>
	<string>nundagesh-hb.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ogonekcomb</key>
	<string>ogonekcomb.glif</string>
	<key>ogonekcomb.case</key>
	<string>ogonekcomb.case.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.dnom</key>
	<string>one.dnom.glif</string>
	<key>one.numr</key>
	<string>one.numr.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>oneinferior</key>
	<string>oneinferior.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>patah-hb</key>
	<string>patah-hb.glif</string>
	<key>pe-hb</key>
	<string>pe-hb.glif</string>
	<key>pedagesh-hb</key>
	<string>pedagesh-hb.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>prime</key>
	<string>prime.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>qamatsqatan-hb</key>
	<string>qamatsqatan-hb.glif</string>
	<key>qof-hb</key>
	<string>qof-hb.glif</string>
	<key>qofdagesh-hb</key>
	<string>qofdagesh-hb.glif</string>
	<key>qubuts-hb</key>
	<string>qubuts-hb.glif</string>
	<key>qudblleft_qudblleft_qudblleft</key>
	<string>qudblleft_qudblleft_qudblleft.glif</string>
	<key>qudblrit_qudblrit_qudblrit</key>
	<string>qudblrit_qudblrit_qudblrit.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedbl_qudblrt_qudblrt</key>
	<string>quotedbl_qudblrt_qudblrt.glif</string>
	<key>quotedbl_quotedbl</key>
	<string>quotedbl_quotedbl.glif</string>
	<key>quotedbl_quotedbl_quotedbl</key>
	<string>quotedbl_quotedbl_quotedbl.glif</string>
	<key>quotedbl_quotedblright</key>
	<string>quotedbl_quotedblright.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblleft_quotedblleft</key>
	<string>quotedblleft_quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quotedblright_quotedblright</key>
	<string>quotedblright_quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>resh-hb</key>
	<string>resh-hb.glif</string>
	<key>reshdagesh-hb</key>
	<string>reshdagesh-hb.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ringcomb</key>
	<string>ringcomb.glif</string>
	<key>ringcomb.case</key>
	<string>ringcomb.case.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>samekh-hb</key>
	<string>samekh-hb.glif</string>
	<key>samekhdagesh-hb</key>
	<string>samekhdagesh-hb.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>segol-hb</key>
	<string>segol-hb.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.dnom</key>
	<string>seven.dnom.glif</string>
	<key>seven.numr</key>
	<string>seven.numr.glif</string>
	<key>seveninferior</key>
	<string>seveninferior.glif</string>
	<key>sevensuperior</key>
	<string>sevensuperior.glif</string>
	<key>sheqel</key>
	<string>sheqel.glif</string>
	<key>sheva-hb</key>
	<string>sheva-hb.glif</string>
	<key>shin-hb</key>
	<string>shin-hb.glif</string>
	<key>shindagesh-hb</key>
	<string>shindagesh-hb.glif</string>
	<key>shindageshshindot-hb</key>
	<string>shindageshshindot-hb.glif</string>
	<key>shindageshsindot-hb</key>
	<string>shindageshsindot-hb.glif</string>
	<key>shindot-hb</key>
	<string>shindot-hb.glif</string>
	<key>shinshindot-hb</key>
	<string>shinshindot-hb.glif</string>
	<key>shinsindot-hb</key>
	<string>shinsindot-hb.glif</string>
	<key>sindot-hb</key>
	<string>sindot-hb.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.dnom</key>
	<string>six.dnom.glif</string>
	<key>six.numr</key>
	<string>six.numr.glif</string>
	<key>sixinferior</key>
	<string>sixinferior.glif</string>
	<key>sixsuperior</key>
	<string>sixsuperior.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>slashlongcomb</key>
	<string>slashlongcomb.glif</string>
	<key>slashshortcomb</key>
	<string>slashshortcomb.glif</string>
	<key>softhyphen</key>
	<string>softhyphen.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>strokeshortcomb</key>
	<string>strokeshortcomb.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tav-hb</key>
	<string>tav-hb.glif</string>
	<key>tavdagesh-hb</key>
	<string>tavdagesh-hb.glif</string>
	<key>tet-hb</key>
	<string>tet-hb.glif</string>
	<key>tetdagesh-hb</key>
	<string>tetdagesh-hb.glif</string>
	<key>thinspace</key>
	<string>thinspace.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.dnom</key>
	<string>three.dnom.glif</string>
	<key>three.numr</key>
	<string>three.numr.glif</string>
	<key>threeinferior</key>
	<string>threeinferior.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>tildecomb.case</key>
	<string>tildecomb.case.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>tsadi-hb</key>
	<string>tsadi-hb.glif</string>
	<key>tsadidagesh-hb</key>
	<string>tsadidagesh-hb.glif</string>
	<key>tsere-hb</key>
	<string>tsere-hb.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.dnom</key>
	<string>two.dnom.glif</string>
	<key>two.numr</key>
	<string>two.numr.glif</string>
	<key>twoinferior</key>
	<string>twoinferior.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u05D3_quoteright_u05D9_u05D9</key>
	<string>u05D_3_quoteright_u05D_9_u05D_9.glif</string>
	<key>u05D3_quotesingle_u05D9_u05D9</key>
	<string>u05D_3_quotesingle_u05D_9_u05D_9.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni05B8</key>
	<string>uni05B_8.glif</string>
	<key>uni05BF</key>
	<string>uni05B_F_.glif</string>
	<key>uni05D0.alt</key>
	<string>uni05D_0.alt.glif</string>
	<key>uni05D0.alt.yud</key>
	<string>uni05D_0.alt.yud.glif</string>
	<key>uni05D0.yud</key>
	<string>uni05D_0.yud.glif</string>
	<key>uni05D1.alt</key>
	<string>uni05D_1.alt.glif</string>
	<key>uni05D1_quoteright</key>
	<string>uni05D_1_quoteright.glif</string>
	<key>uni05D1_quotesingle</key>
	<string>uni05D_1_quotesingle.glif</string>
	<key>uni05D1_uni05F3</key>
	<string>uni05D_1_uni05F_3.glif</string>
	<key>uni05D2.alt</key>
	<string>uni05D_2.alt.glif</string>
	<key>uni05D2.alt_quoteright</key>
	<string>uni05D_2.alt_quoteright.glif</string>
	<key>uni05D2.alt_quotesingle</key>
	<string>uni05D_2.alt_quotesingle.glif</string>
	<key>uni05D2.alt_uni05F3</key>
	<string>uni05D_2.alt_uni05F_3.glif</string>
	<key>uni05D2_quoteright</key>
	<string>uni05D_2_quoteright.glif</string>
	<key>uni05D2_quoteright_uni05D5</key>
	<string>uni05D_2_quoteright_uni05D_5.glif</string>
	<key>uni05D2_quoteright_uni05D9</key>
	<string>uni05D_2_quoteright_uni05D_9.glif</string>
	<key>uni05D2_quotesingle</key>
	<string>uni05D_2_quotesingle.glif</string>
	<key>uni05D2_quotesingle_uni05D5</key>
	<string>uni05D_2_quotesingle_uni05D_5.glif</string>
	<key>uni05D2_quotesingle_uni05D9</key>
	<string>uni05D_2_quotesingle_uni05D_9.glif</string>
	<key>uni05D2_uni05D5</key>
	<string>uni05D_2_uni05D_5.glif</string>
	<key>uni05D2_uni05D9</key>
	<string>uni05D_2_uni05D_9.glif</string>
	<key>uni05D2_uni05F3</key>
	<string>uni05D_2_uni05F_3.glif</string>
	<key>uni05D2_uni05F3_uni05D5</key>
	<string>uni05D_2_uni05F_3_uni05D_5.glif</string>
	<key>uni05D2_uni05F3_uni05D9</key>
	<string>uni05D_2_uni05F_3_uni05D_9.glif</string>
	<key>uni05D3.alt</key>
	<string>uni05D_3.alt.glif</string>
	<key>uni05D3.alt_quoteright</key>
	<string>uni05D_3.alt_quoteright.glif</string>
	<key>uni05D3.alt_quotesingle</key>
	<string>uni05D_3.alt_quotesingle.glif</string>
	<key>uni05D3.alt_uni05F3</key>
	<string>uni05D_3.alt_uni05F_3.glif</string>
	<key>uni05D3_quoteright</key>
	<string>uni05D_3_quoteright.glif</string>
	<key>uni05D3_quoteright_uni05D9</key>
	<string>uni05D_3_quoteright_uni05D_9.glif</string>
	<key>uni05D3_quotesingle</key>
	<string>uni05D_3_quotesingle.glif</string>
	<key>uni05D3_quotesingle_uni05D9</key>
	<string>uni05D_3_quotesingle_uni05D_9.glif</string>
	<key>uni05D3_uni05D9</key>
	<string>uni05D_3_uni05D_9.glif</string>
	<key>uni05D3_uni05D9_uni05D9</key>
	<string>uni05D_3_uni05D_9_uni05D_9.glif</string>
	<key>uni05D3_uni05D9_uni05D9_uni05D5</key>
	<string>uni05D_3_uni05D_9_uni05D_9_uni05D_5.glif</string>
	<key>uni05D3_uni05F3</key>
	<string>uni05D_3_uni05F_3.glif</string>
	<key>uni05D3_uni05F3_uni05D9</key>
	<string>uni05D_3_uni05F_3_uni05D_9.glif</string>
	<key>uni05D3_uni05F3_uni05D9_uni05D9</key>
	<string>uni05D_3_uni05F_3_uni05D_9_uni05D_9.glif</string>
	<key>uni05D4.alt</key>
	<string>uni05D_4.alt.glif</string>
	<key>uni05D4_quoteright</key>
	<string>uni05D_4_quoteright.glif</string>
	<key>uni05D4_quotesingle</key>
	<string>uni05D_4_quotesingle.glif</string>
	<key>uni05D4_uni05F3</key>
	<string>uni05D_4_uni05F_3.glif</string>
	<key>uni05D5.alt</key>
	<string>uni05D_5.alt.glif</string>
	<key>uni05D6_quoteright</key>
	<string>uni05D_6_quoteright.glif</string>
	<key>uni05D6_quotesingle</key>
	<string>uni05D_6_quotesingle.glif</string>
	<key>uni05D6_uni05F3</key>
	<string>uni05D_6_uni05F_3.glif</string>
	<key>uni05D8.yud</key>
	<string>uni05D_8.yud.glif</string>
	<key>uni05D9.alt</key>
	<string>uni05D_9.alt.glif</string>
	<key>uni05DF_quoteright</key>
	<string>uni05D_F__quoteright.glif</string>
	<key>uni05DF_quotesingle</key>
	<string>uni05D_F__quotesingle.glif</string>
	<key>uni05DF_uni05F3</key>
	<string>uni05D_F__uni05F_3.glif</string>
	<key>uni05E1.alt</key>
	<string>uni05E_1.alt.glif</string>
	<key>uni05E1.yud</key>
	<string>uni05E_1.yud.glif</string>
	<key>uni05E1_quoteright</key>
	<string>uni05E_1_quoteright.glif</string>
	<key>uni05E1_quotesingle</key>
	<string>uni05E_1_quotesingle.glif</string>
	<key>uni05E1_uni05F3</key>
	<string>uni05E_1_uni05F_3.glif</string>
	<key>uni05E4_quoteright</key>
	<string>uni05E_4_quoteright.glif</string>
	<key>uni05E4_quotesingle</key>
	<string>uni05E_4_quotesingle.glif</string>
	<key>uni05E4_uni05F3</key>
	<string>uni05E_4_uni05F_3.glif</string>
	<key>uni05E6.alt</key>
	<string>uni05E_6.alt.glif</string>
	<key>uni05E8.alt</key>
	<string>uni05E_8.alt.glif</string>
	<key>uni05E8_uni05D1_quoteright</key>
	<string>uni05E_8_uni05D_1_quoteright.glif</string>
	<key>uni05E8_uni05D1_quotesingle</key>
	<string>uni05E_8_uni05D_1_quotesingle.glif</string>
	<key>uni05E8_uni05D1_uni05F3</key>
	<string>uni05E_8_uni05D_1_uni05F_3.glif</string>
	<key>uni05E8_uni05D9</key>
	<string>uni05E_8_uni05D_9.glif</string>
	<key>uni05E9_quoteright</key>
	<string>uni05E_9_quoteright.glif</string>
	<key>uni05E9_quotesingle</key>
	<string>uni05E_9_quotesingle.glif</string>
	<key>uni05E9_uni05F3</key>
	<string>uni05E_9_uni05F_3.glif</string>
	<key>uniFB1E</key>
	<string>uniF_B_1E_.glif</string>
	<key>uniFB4F</key>
	<string>uniF_B_4F_.glif</string>
	<key>uniFEFF</key>
	<string>uniF_E_F_F_.glif</string>
	<key>uniFFFD</key>
	<string>uniF_F_F_D_.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>vav-hb</key>
	<string>vav-hb.glif</string>
	<key>vavdagesh-hb</key>
	<string>vavdagesh-hb.glif</string>
	<key>vavholam-hb</key>
	<string>vavholam-hb.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>yod-hb</key>
	<string>yod-hb.glif</string>
	<key>yoddagesh-hb</key>
	<string>yoddagesh-hb.glif</string>
	<key>yodyod-hb</key>
	<string>yodyod-hb.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zayin-hb</key>
	<string>zayin-hb.glif</string>
	<key>zayindagesh-hb</key>
	<string>zayindagesh-hb.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.dnom</key>
	<string>zero.dnom.glif</string>
	<key>zero.numr</key>
	<string>zero.numr.glif</string>
	<key>zeroWidthSpace</key>
	<string>zeroW_idthS_pace.glif</string>
	<key>zeroinferior</key>
	<string>zeroinferior.glif</string>
	<key>zerosuperior</key>
	<string>zerosuperior.glif</string>
</dict>
</plist>
